<html>
    <head>
        <title>
            Photomania
        </title>
        <link rel="stylesheet" href="/public/views/style.css">
        <link rel="shortcut icon" href="/public/views/favicon.ico" />
    </head>
    <body style="background-color:black">
        <div id="main">
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
            <script src="/public/views/submittedjs.js"></script>

            <input type="submit" value="Skip photo" id="judge-button" class="custom-button" onclick="nextPhotoButton()">
            <div id="image-username">
                <img src="" id="judged-image" width="400px" style="display:none">
                <p id="username"></p>
            </div>
            <div id='stars'>
                <div id='first' class='stars-class'>1</div>
                <div id='second' class='stars-class'>2</div>
                <div id='third' class='stars-class'>3</div>
                <div id='fourth' class='stars-class'>4</div>
                <div id='fifth' class='stars-class'>5</div>
                <div id='sixth' class='stars-class'>6</div>
                <div id='seventh' class='stars-class'>7</div>
                <div id='eighth' class='stars-class'>8</div>
                <div id='ninth' class='stars-class'>9</div>
                <div id='tenth' class='stars-class'>10</div>
            </div>

        </div>
    </body>
</html>